{% extends "diary/base.html" %}
{% block title %}パスワード変更 | Private Diary{% endblock %}


{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>パスワード変更</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>パスワードが変更されました。</p>
            <a href="{% url 'account_login' %}" class="btn btn-primary">ログイン</a>
        </div>
    </div>
</div>

{% endblock %}